{% extends 'main.html' %}
{% block title %}
    Canbinet
{% endblock %}
{% block body %}
    <div class="cnt_box">
        <section class="flx">

            <div class="leftbox">
                <div class="ct_box">
                    <div class="category_link">
                        <p class="category singer-item">Singer</p>
                        <p class="category category-item">Category</p>
                        <p class="category genre-item">Genre</p>
                    </div>
                </div>
                <div class="ct_box2">
                    <div class="singer-list">
                        <div class="singers-list"></div>
                        <p class="category-add-singer">➕</p>
                    </div>
                    <div class="category-list">
                        <div class="categories-list"></div>
                        <p class="category-add-category">➕</p>
                    </div>
                    <div class="genre-list">
                        <div class="genres-list"></div>
                        <p class="category-add-genre">➕</p>
                    </div>
                </div>

                <div class="music_category"><a class="music_category_a" href="#">+</a></div>

            </div>

            <div class="rightbox">
                <div class="add_music_box">
                    <div class="add_music_input">
                        <label for="add_music">
                            <i class="fa-solid fa-file-audio"></i>
                        </label>
                        <input type="file" id="add_music" hidden required>
                    </div>

                    <div class="add_music_information">
                        <label for="add_music_img">
                            <img class="mp3_img" src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg"
                                 alt="">
                        </label>
                        <input type="file" id="add_music_img" hidden>
                        <input class="music_info" required type="text" placeholder="Enter title of music">
                        <input class="music_info" required type="text" placeholder="Enter artist of music">
                        <input class="music_info" required type="text" placeholder="Enter album of music">
                        <input class="music_info" required type="text" placeholder="Enter genre of music">
                        <input class="music_info" required type="text" placeholder="Enter category of music">
                        <input class="add_input" type="submit" value="Add music">
                    </div>
                </div>
            </div>

        </section>
        <section class="add-item">
            <section class="add_music_category">
                <div class="border_box">
                    <input id="input" type="text">
                    <input type="file" id="img-artist" name="img-artist">
                    <button id="add_btn">Add</button>
                </div>
                <div class="close-section">X</div>
            </section>
        </section>

    </div>

    <div class="music_control"></div>

{% endblock %}